# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DS_Store
.idea/.name
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_5_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_5_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_5_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_5_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_5_1_0_RELEASE.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_support_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_safari_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_remote_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_opera_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_java_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_ie_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_firefox_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_edge_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_chrome_driver_3_141_59.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_api_3_141_59.xml
.idea/libraries/Maven__org_ow2_asm_asm_6_2_1.xml
.idea/libraries/Maven__org_jsoup_jsoup_1_8_3.xml
.idea/libraries/Maven__org_javassist_javassist_3_22_0_CR2.xml
.idea/libraries/Maven__org_imgscalr_imgscalr_lib_4_2.xml
.idea/libraries/Maven__org_glassfish_jersey_inject_jersey_hk2_2_29.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_common_2_29.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_client_2_29.xml
.idea/libraries/Maven__org_glassfish_jersey_connectors_jersey_apache_connector_2_29.xml
.idea/libraries/Maven__org_glassfish_hk2_osgi_resource_locator_1_0_3.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_utils_2_5_0.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_locator_2_5_0.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_api_2_5_0.xml
.idea/libraries/Maven__org_glassfish_hk2_external_jakarta_inject_2_5_0.xml
.idea/libraries/Maven__org_glassfish_hk2_external_aopalliance_repackaged_2_5_0.xml
.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_14.xml
.idea/libraries/Maven__org_checkerframework_checker_compat_qual_2_0_0.xml
.idea/libraries/Maven__org_brotli_dec_0_1_1.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_10.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_6.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_8_1.xml
.idea/libraries/Maven__org_apache_commons_commons_exec_1_3.xml
.idea/libraries/Maven__org_apache_ant_ant_launcher_1_10_3.xml
.idea/libraries/Maven__org_apache_ant_ant_1_10_3.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_8_15.xml
.idea/libraries/Maven__javax_activation_activation_1_1_1.xml
.idea/libraries/Maven__jakarta_ws_rs_jakarta_ws_rs_api_2_1_5.xml
.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_4.xml
.idea/libraries/Maven__io_appium_java_client_7_0_0.xml
.idea/libraries/Maven__commons_validator_commons_validator_1_6.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__commons_io_commons_io_2_6.xml
.idea/libraries/Maven__commons_digester_commons_digester_1_8_1.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_2.xml
.idea/libraries/Maven__com_sun_activation_jakarta_activation_1_2_1.xml
.idea/libraries/Maven__com_squareup_okio_okio_1_14_0.xml
.idea/libraries/Maven__com_squareup_okhttp3_okhttp_3_11_0.xml
.idea/libraries/Maven__com_helger_ph_css_6_1_1.xml
.idea/libraries/Maven__com_helger_ph_commons_9_0_2.xml
.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_1.xml
.idea/libraries/Maven__com_google_guava_guava_25_0_jre.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_1_3.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_5.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_5_0.xml
.idea/libraries/Maven__com_applitools_eyes_selenium_java3_3_160_3.xml
.idea/libraries/Maven__com_applitools_eyes_sdk_core_java3_3_160_3.xml
.idea/libraries/Maven__com_applitools_eyes_connectivity_java3_jersey2x_3_160_3.xml
.idea/libraries/Maven__com_applitools_eyes_common_java3_3_160_3.xml
.idea/libraries/Maven__cglib_cglib_3_2_8.xml
